.Rproj.user
.Rproj.user/*
.Rproj.user/F6075EA9/
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
inst/doc
/Meta/
/doc/
*.pper
.Rproj.user/F6075EA9/persistent-state
.Rproj.user/F6075EA9/pcs/windowlayoutstate.pper
.Rproj.user/F6075EA9/pcs/source-pane.pper
